mixin loop(limit)
  -var a=0,l=limit;
  -for (;a<l;a++){
    block
  -}

-function bk(imgUrl,centerOpacity,sidesOpacity){
  - var x=centerOpacity||0.46,y=sidesOpacity||0.88;
  -return 'background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,'+x+'),rgba(0,0,0,'+y+'))'+', url(\''+imgUrl+'\');';
-}

//- ---------------------------MENU
//- var obj={
//-   nav:{
//-     marginbottomClass:''
//-   },
//-   home:{
//-     clas:'',
//-     iconclas:''
//-   },
//-   links:{
//-     linksArray:[],
//-     liClass:''
//-    },
//-   classOfLast:''
//- }
mixin menu(obj)
  nav#menu(class= obj.nav.marginbottomClass)
    ul.row.relative
  
      li.left
        a(class= obj.home.clas, href="#")
          i.icon(class= obj.home.iconClas)

      .menu-links.right
        each val in obj.links.linksArray
          li.menu_center(class= obj.links.liClass)
            a.menu-anchor(href="#")= val

        li.menu_center
          a.menu-anchor(href="#")
            i.icon(class= obj.classOfLast)

      .humb.absolute#humb
        .humb-child
          span.humb-spn.block
          span.humb-spn.block
          span.humb-spn.block
          
//- -------------------dropDown--
//- mazal improvments here khass i3tini wach kin chi li 3ndha submenu ola lla and khasso i3tini lista dial a content
//- var obj={
//-   subLi:{
//-     arr:[],
//-     class:''
//-   },
//-   li:{
//-     class:''
//-     },
//-   a:{
//-     class:'',
//-     val:''
//-     },
//-   subUl:{
//-     class:''
//-    },
//-   subA:{
//-     class:''
//-     }
//- }
mixin drpDwn(obj)
  li.drp(class= obj.li.class)
    a(href="#",class= obj.a.class)= obj.a.val
    ul(class= obj.subUl.class)
      each val in obj.subLi.arr
        li(class= obj.subLi.class)
          a(href="#", class= obj.subA.class)= val
          
//- ---------------------Side-Nav
//- in main.j in controller paste in a func :
//- lib.toggle2Css(el,'slide-nav-forward','slide-nav-backward'); el here is #side-nav
//- khasso iswlni wach kin chi submenu o ina index dial li ghnhot had submenu
//- var obj={
//-   menu:{
//-     txt:[]
//-   }
//-   nav:{
//-     class:''
//-   },
//-   title:{
//-     class:'',
//-     txt:''
//-   },
//-   ul:{
//-     class:''
//-    },
//-   li:{
//-     class:''
//-     },
//-   a:{
//-     class:''
//-     }
//- }
mixin sideNav(obj)
  nav.side-nav.slide-nav-backward.fixed(class= obj.nav.class)#side-nav
    span.side-title.txt_center(class= obj.title.class)= obj.title.txt
    ul(class= obj.ul.class)
      each val in obj.menu.txt
        li.side-li.block(class= obj.li.class)
          a.side-a(class= obj.a.class,href="#")= val

//- -----------------------media
//- var obj={
//-   item:{
//-     clas:''
//-    },
//-    img:{
//-      imgClass:'',
//-      src:''
//-    }
//-  }
mixin media(obj)
  .row(class= obj['item']['clas'])
    .media-img.left
      img.img(class= obj['img']['imgClass'], src= obj['img']['src'])
    .media-txt.right
      block
      
//- ----------------------Pagination
//- nav.table.center.row
//-   a.previous.page-numbers.page-numbers-design(href="#")= "< Previous"
//-   span.page-numbers.current 1
//-   -var i=2;
//-   +loop(5)
//-     a.page-numbers.page-numbers-design(href="#")= i
//-     -i++;
//-   a.page-numbers.page-numbers-design(href="#")= "..."
//-   a.next.page-numbers.page-numbers-design(href="#")= "Next >"