mixin loop(l)
  -var i=0;
  -while(i++<l){
    block
  -}

-function bk(imgUrl,centerOpacity,sidesOpacity){
  - var x=centerOpacity||0.46,y=sidesOpacity||0.88;
  -return 'background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,'+x+'),rgba(0,0,0,'+y+'))'+', url(\''+imgUrl+'\');';
-}

//- ---------------------------MENU
//- var obj={
//-   nav:{
//-     marginbottomClass:''
//-   },
//-   home:{
//-     clas:'',
//-     iconclas:''
//-   },
//-   links:{
//-     linksArray:[],
//-     liClass:''
//-    },
//-   classOfLast:''
//- }
mixin menu(obj)
  nav#menu(class= obj.nav.marginbottomClass)
    ul.row.relative
  
      li.left
        a(class= obj.home.clas, href="#")
          i.icon(class= obj.home.iconClas)

      .menu-links.right
        each val in obj.links.linksArray
          li.menu_center(class= obj.links.liClass)
            a.menu-anchor(href="#")= val

        li.menu_center
          a.menu-anchor(href="#")
            i.icon(class= obj.classOfLast)

      .humb.absolute#humb
        .humb-child
          +loop(3)
            span.humb-spn.block
          
//- ---------------------Side-Nav
//- in main.js in controller paste in a func :
//- lib.toggle2Css(el,'slide-nav-forward','slide-nav-backward'); el here is #side-nav
//- khasso iswlni wach kin chi submenu o ina index dial li ghnhot had submenu
//- var obj={
//-   menu:{
//-     txt:[]
//-   }
//-   nav:{
//-     class:''
//-   },
//-   title:{
//-     class:'',
//-     txt:''
//-   },
//-   ul:{
//-     class:''
//-    },
//-   li:{
//-     class:''
//-     },
//-   a:{
//-     class:''
//-     }
//- }
mixin sideNav(obj)
  nav.side-nav.slide-nav-backward.fixed(class= obj.nav.class)#side-nav
    span.side-title.txt_center(class= obj.title.class)= obj.title.txt
    ul(class= obj.ul.class)
      each val in obj.menu.txt
        li.side-li.block(class= obj.li.class)
          a.side-a(class= obj.a.class,href="#")= val

//- -----------------------media
//- .row
//-   .media-img.left
//-     img.img(src="")
//-   .media-txt.right
//-     ur txt here

//- ----------------------Pagination
//- nav.table.center.row
//-   a.pag-previous.pag-numbers(href="#")= "< Previous"
//-   span.pag-numbers.current 1
//-   -var i=2;
//-   +loop(5)
//-     a.pag-numbers.pag-numbers-design(href="#")= i
//-     -i++;
//-   a.pag-numbers(href="#")= "..."
//-   a.pag-next.pag-numbers(href="#")= "Next >"

//- ----------------------Card
//- .card.card-hover
//-   a(href="#")
//-     img.img.card-img(src= "beta/img/-300.jpg")
//-   .card-txt-ctn.center
//-     h6.card-title= 
//-     p.card-txt= 
//-     a(href="#").btn.btn_medium.card-btn